span.hearthstone-card {
  color: $primary;
  cursor: pointer;
  border-bottom: 1px dashed $primary-medium;

  &::before {
    margin-right: 0.1em;
    color: $primary;
    content: "🂠 ";
  }
}

span.hearthstone-card + #discourse-tooltip {
  .tooltip-content {
    max-width: 360px;
    padding: 0.5em;
  }
}
